In [11]:
import pandas as pd

In [12]:
mydata= pd.read_csv(r"D:\DataSets-master\Bmi_male_female.csv")

In [13]:
mydata.head(1)

  Gender  Height  Weight  Index
0   Male     174      96      4

##seperate i/p from o/p

In [14]:
X_input = mydata.iloc[:,0:3]
Y_output= mydata.iloc[:,3]

In [15]:
#X_input.shape
#Y_output.shape

In [16]:
  #Encoding       male--> 0   female----> 1
X_input.Gender[X_input.Gender=="Male"]=0
X_input.Gender[X_input.Gender=="Female"]=1

C:\Users\Pankaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Pankaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
#X_input

In [18]:
#reshape data
XX_input=X_input.values.reshape(500,3)
YY_output=Y_output.values.reshape(500,1)

In [19]:
type(XX_input)

numpy.ndarray

In [20]:
type(X_input)

pandas.core.frame.DataFrame

In [21]:
XX_input

array([[0, 174, 96],
       [0, 189, 87],
       [1, 185, 110],
       ...,
       [1, 141, 136],
       [0, 150, 95],
       [0, 173, 131]], dtype=object)

In [22]:
#Splitting into training and testing

In [23]:
X_train=XX_input[0:450]
X_test=XX_input[450:]
Y_train=YY_output[0:450]
Y_test=YY_output[450:]

In [24]:
#X_train.shape

In [25]:
from sklearn.neighbors import KNeighborsClassifier

In [26]:
teacher = KNeighborsClassifier()

In [27]:
Index_name=pd.Series(["Extremely Weak","Weak","Normal", "Overweight","Obesity","Extreme Obesity"])

In [28]:
Index_name

0     Extremely Weak
1               Weak
2             Normal
3         Overweight
4            Obesity
5    Extreme Obesity
dtype: object

In [29]:
model=teacher.fit(X_train, Y_train)

C:\Users\Pankaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

In [30]:
i=model.predict([[0,168,60]])

In [31]:
Index_name[i]

2    Normal
dtype: object

In [32]:
i=model.predict([[0,162,51]])
Index_name[i]

2    Normal
dtype: object

In [33]:
i=model.predict([[0,168,56.5]])

In [34]:
Index_name[i]

2    Normal
dtype: object

In [35]:
i=model.predict([[1,162,42]])

In [36]:
Index_name[i]

2    Normal
dtype: object

In [37]:
#X_test   ...........  Y_test
Ya=Y_test
Yp=model.predict(X_test)

In [38]:
yalist=list(Ya)
yplist=list(Yp)

In [39]:
table=pd.DataFrame({"Ya":yalist,"Yp":yplist})

In [40]:
table

     Ya  Yp
0   [5]   5
1   [4]   3
2   [5]   5
3   [0]   0
4   [2]   2
5   [2]   2
6   [4]   4
7   [2]   3
8   [4]   4
9   [5]   5
10  [4]   4
11  [5]   5
12  [1]   1
13  [5]   5
14  [2]   2
15  [5]   5
16  [3]   3
17  [5]   5
18  [5]   5
19  [3]   3
20  [5]   5
21  [5]   5
22  [2]   2
23  [5]   4
24  [3]   3
25  [4]   4
26  [5]   5
27  [2]   2
28  [2]   2
29  [5]   5
30  [5]   5
31  [4]   4
32  [5]   5
33  [4]   5
34  [4]   4
35  [4]   4
36  [5]   5
37  [2]   2
38  [4]   4
39  [5]   5
40  [2]   2
41  [5]   5
42  [0]   0
43  [1]   1
44  [5]   5
45  [5]   5
46  [4]   4
47  [5]   5
48  [5]   5
49  [5]   5

In [41]:
#table.head()

In [42]:
#table.tail()

In [43]:
from sklearn.metrics import accuracy_score

In [44]:
acc=accuracy_score(Ya,Yp)*100

In [45]:
acc

92.0